header{
    width: 800px;
    height: 80px;
    background-color:  #330000
}

aside{
    width: 160px;
    height: 400px;
    background: url(../images-p/bg_lt.png);
    float: left
}
article{
    width: 638px;
    height: 400px;
    margin-left: 161px;
    background-color: bisque
}
footer{
    width: 800px;
    height: 80px;
    background-color:  #330000;
    text-align: center;
    line-height: 80px
}
.word{
    color: white; 
}
nav {
    margin-top: 150px;
}

nav ul{
    list-style: none;
    padding: 8px
}
nav ul li a{
    display: block;
    width: 150px;
    height: 40px;
    background-image: url(../images-p/btn.png);
    text-indent: 50px;
    line-height: 35px;
}
nav ul li a:hover{
    color: white;
    background-image: url(../images-p/btn_hover.png)
}