body {
    font-family: arial, helvetica sans-serif, 微軟正黑體;
    background-image: url(../images-p/bg.jpg)
}

header {
    width: 800px;
    height: 80px;
    background-color: #330000
}

h1#text1 {
    position: absolute;
    color: red;
    margin-left: 50px;
    margin-top: 15px
}

h1#text2 {
    position: absolute;
    color: white;
    margin-left: 150px;
    margin-top: 35px
}

aside {
    width: 160px;
    height: 400px;
    background: url(../images-p/bg_lt.png);
    float: left
}

article {
    width: 638px;
    height: 400px;
    margin-left: 161px;
    background-color: white
}

footer {
    width: 800px;
    height: 80px;
    background-color: #330000;
    text-align: center;
    line-height: 80px
}

.word {
    color: white;
}

nav {
    margin-top: 150px;
}

nav ul {
    list-style: none;
    padding: 8px
}

nav ul li a {
    display: block;
    width: 150px;
    height: 40px;
    background-image: url(../images-p/btn.png);
    text-indent: 50px;
    line-height: 35px;
}

nav ul li a:hover {
    color: white;
    background-image: url(../images-p/btn_hover.png)
}

legend{
    text-align: center
}

.consection{
    margin: 0px auto;
    width: 400px;
    padding-top: 20px;
}

fieldset{
    border-radius: 10px;
}

.img1{
    width: 120px;
    border-radius: 15px;
    margin: 5px;
}