.img3{
    width: 29%;
    margin: 1.66%
}
.img4{
    width: 21%;
    margin: 1.66%
}
.img5{
    width: 16%;
    margin: 1.66%
}
hr{
   background-color: #dfbdff;
   height: 5px
}
p{
    font-size: 30px;
    font-weight: 800;
    margin-left: 2%;
    padding-bottom: 15px;
    border-bottom: 3px solid #f1f1f1;
    width: 25%
}